{%include "UtkarshGaur/NavBar.html" %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="typing-container" style= "font-family: 'Roboto', sans-serif;">
    <span id="sentence" class="sentence"></span>
    <span class="input-cursor"></span>
</div>


<style>

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 22px;
    background-color: rgb(19, 17, 17);
    margin-left: 8px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor { 
  animation: blink .6s linear infinite alternate;
}
</style>

<script>
  async function typeSentence(sentence, eleRef, delay = 100) {
    const letters = sentence.split("");
    let i = 0;
    while(i < letters.length) {
      await hold(delay);
      $(eleRef).append(letters[i]);
      i++
    }
    return;
}


  function hold(ms) {
    return new Promise(resolve => setTimeout(resolve, ms))
  }


  async function deleteSentence(eleRef) {
    const sentence = $(eleRef).html();
    const letters = sentence.split("");
    let i = 0;
    while(letters.length > 0) {
      await hold(100);
      letters.pop();
      $(eleRef).html(letters.join(""));
    }
  }



  const carouselText = [
    {text: "Apple", color: "red"},
    {text: "Orange", color: "orange"},
    {text: "Lemon", color: "yellow"}
  ]

  async function carousel(carouselList, eleRef) {
      var i = 0;
      while(true) {
        changeFontC(eleRef, carouselList[i].color)
        await typeSentence(carouselList[i].text, eleRef);
        await hold(1200);
        await deleteSentence(eleRef);
        await hold(500);
        i++
        if(i >= carouselList.length) {i = 0;}
      }
  }
  function changeFontC(eleRef, color) {
    $(eleRef).css('color', color);
  }

  carousel(carouselText, "#sentence");  

</script>
